# Exploring eBay Car Sales Data
We'll work with a (modified version of) dataset of used cars from eBay Kleinanzeigen, a classifieds section of the German eBay website. The data dictionary provided with data is as follows:

- dateCrawled - When this ad was first crawled. All field-values are taken from this date.
- name - Name of the car.
- seller - Whether the seller is private or a dealer.
- offerType - The type of listing
- price - The price on the ad to sell the car.
- abtest - Whether the listing is included in an A/B test.
- vehicleType - The vehicle Type.
- yearOfRegistration - The year in which which year the car was first registered.
- gearbox - The transmission type.
- powerPS - The power of the car in PS.
- model - The car model name.
- kilometer- How many kilometers the car has driven.
- monthOfRegistration - The month in which which year the car was first registered.
- fuelType - What type of fuel the car uses.
- brand - The brand of the car.
- notRepairedDamage - If the car has a damage which is not yet repaired.
- dateCreated - The date on which the eBay listing was created.
- nrOfPictures - The number of pictures in the ad.
- postalCode - The postal code for the location of the vehicle.
- lastSeenOnline - When the crawler saw this ad last online.
The aim of this project is to clean the data and analyze the included used car listings.

In [5]:
import pandas as pd
import numpy as np

In [6]:
autos = pd.read_csv("autos.csv",encoding="Latin-1")

In [3]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

In [7]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

# Cleaning columns

In [8]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

#### Convert the column names from camelcase to snakecase

In [9]:
autos.columns = ['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_pS', 'model',
       'odometer', 'registration_month', 'fuel_type', 'brand',
       'unepaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen']

In [10]:
autos.head()

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_pS,model,odometer,registration_month,fuel_type,brand,unepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50

# Data exploration and cleaning

In [11]:
autos.describe(include='all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,power_pS,model,odometer,registration_month,fuel_type,brand,unepaired_damage,date_created,nr_of_pictures,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-04-02 11:37:04,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

# Exploring price and odometer columns
price and odometer columns are numeric values stored as text!

In [12]:
autos['price'].head(10)

0    $5,000
1    $8,500
2    $8,990
3    $4,350
4    $1,350
5    $7,900
6      $300
7    $1,990
8      $250
9      $590
Name: price, dtype: object

In [13]:
autos['price'] = autos['price'].str.replace("$","").str.replace(",","").astype(int)
autos['price'].head(10)

C:\Users\Rabo Yusuf\AppData\Local\Temp\ipykernel_11176\2026629110.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  autos['price'] = autos['price'].str.replace("$","").str.replace(",","").astype(int)

0    5000
1    8500
2    8990
3    4350
4    1350
5    7900
6     300
7    1990
8     250
9     590
Name: price, dtype: int32

In [14]:
autos['odometer'].head(10)

0    150,000km
1    150,000km
2     70,000km
3     70,000km
4    150,000km
5    150,000km
6    150,000km
7    150,000km
8    150,000km
9    150,000km
Name: odometer, dtype: object

In [15]:
autos['odometer'] = autos['odometer'].str.replace("km","").str.replace(",","").astype(int)
autos['odometer'].head(10)

0    150000
1    150000
2     70000
3     70000
4    150000
5    150000
6    150000
7    150000
8    150000
9    150000
Name: odometer, dtype: int32

In [16]:
autos.rename({"odometer": "odometer_km"},axis=1,inplace = True)

In [18]:
autos.columns

Index(['date_crawled', 'name', 'seller', 'offer_type', 'price', 'abtest',
       'vehicle_type', 'registration_year', 'gearbox', 'power_pS', 'model',
       'odometer_km', 'registration_month', 'fuel_type', 'brand',
       'unepaired_damage', 'date_created', 'nr_of_pictures', 'postal_code',
       'last_seen'],
      dtype='object')

In [17]:
# Looking for unrealistic values
print(autos['price'].max())
print(autos['price'].min())

99999999
0

In [23]:
print(autos['price'].unique().shape)
len(autos['price'].unique())

(2357,)

2357

In [26]:
autos['price'].value_counts().sort_index(ascending=False).head(10)
#autos['price'].value_counts()

99999999    1
27322222    1
12345678    3
11111111    2
10000000    1
3890000     1
1300000     1
1234566     1
999999      2
999990      1
Name: price, dtype: int64

In [20]:
autos['price'].value_counts().sort_index(ascending=True).head(10)

0     1421
1      156
2        3
3        1
5        2
8        1
9        1
10       7
11       2
12       3
Name: price, dtype: int64

In [29]:
#autos = autos[(autos["price"] > 100) & (autos["price"] > 250000)]
autos = autos[autos["price"].between(200,250000)]

In [30]:
autos['price'].value_counts().sort_index(ascending=False).head(5)

250000    1
220000    1
198000    1
197000    1
194000    1
Name: price, dtype: int64

In [32]:
autos['price'].value_counts().sort_index(ascending=True).head(5)

200    266
205      1
210      1
215      2
217      1
Name: price, dtype: int64

In [35]:
# Looking for unrealistic values
print(autos['odometer_km'].max())
print(autos['odometer_km'].min())

150000
5000

# Exploring the date columns

In [37]:
autos[['date_crawled','date_created','last_seen']][0:5]

          date_crawled         date_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [39]:
autos['date_crawled'].str[:10].head()

0    2016-03-26
1    2016-04-04
2    2016-03-26
3    2016-03-12
4    2016-04-01
Name: date_crawled, dtype: object

In [40]:
autos['date_crawled'].str[:10].describe()

count          47639
unique            34
top       2016-04-03
freq            1844
Name: date_crawled, dtype: object

In [41]:
autos['date_created'].describe()

count                   47639
unique                     76
top       2016-04-03 00:00:00
freq                     1856
Name: date_created, dtype: object

In [42]:
autos['last_seen'].describe()

count                   47639
unique                  37805
top       2016-04-07 06:17:27
freq                        8
Name: last_seen, dtype: object

In [43]:
autos['date_crawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05    0.025357
2016-03-06    0.014064
2016-03-07    0.036000
2016-03-08    0.033124
2016-03-09    0.033040
2016-03-10    0.032326
2016-03-11    0.032704
2016-03-12    0.036882
2016-03-13    0.015701
2016-03-14    0.036567
2016-03-15    0.034237
2016-03-16    0.029451
2016-03-17    0.031550
2016-03-18    0.012826
2016-03-19    0.034614
2016-03-20    0.037805
2016-03-21    0.037364
2016-03-22    0.032704
2016-03-23    0.032368
2016-03-24    0.029325
2016-03-25    0.031424
2016-03-26    0.032221
2016-03-27    0.031193
2016-03-28    0.035013
2016-03-29    0.033985
2016-03-30    0.033880
2016-03-31    0.031844
2016-04-01    0.033817
2016-04-02    0.035685
2016-04-03    0.038708
2016-04-04    0.036567
2016-04-05    0.013120
2016-04-06    0.003170
2016-04-07    0.001364
Name: date_crawled, dtype: float64

In [44]:
autos['date_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2015-06-11    0.000021
2015-08-10    0.000021
2015-09-09    0.000021
2015-11-10    0.000021
2015-12-05    0.000021
                ...
2016-04-03    0.038960
2016-04-04    0.036924
2016-04-05    0.011839
2016-04-06    0.003254
2016-04-07    0.001217
Name: date_created, Length: 76, dtype: float64

In [45]:
autos['last_seen'].str[:10].value_counts(normalize=True, dropna=False).sort_index(ascending=True)

2016-03-05    0.001092
2016-03-06    0.004303
2016-03-07    0.005374
2016-03-08    0.007179
2016-03-09    0.009614
2016-03-10    0.010475
2016-03-11    0.012301
2016-03-12    0.023909
2016-03-13    0.008900
2016-03-14    0.012532
2016-03-15    0.015722
2016-03-16    0.016289
2016-03-17    0.028086
2016-03-18    0.007284
2016-03-19    0.015617
2016-03-20    0.020655
2016-03-21    0.020508
2016-03-22    0.021411
2016-03-23    0.018493
2016-03-24    0.019627
2016-03-25    0.019081
2016-03-26    0.016688
2016-03-27    0.015492
2016-03-28    0.020760
2016-03-29    0.022188
2016-03-30    0.024581
2016-03-31    0.023867
2016-04-01    0.022901
2016-04-02    0.024812
2016-04-03    0.025084
2016-04-04    0.024623
2016-04-05    0.125443
2016-04-06    0.222444
2016-04-07    0.132664
Name: last_seen, dtype: float64

In [46]:
autos['registration_year'].describe()

count    47639.000000
mean      2004.799912
std         88.429298
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [47]:
autos.shape[0]

47639

In [48]:
autos["registration_year"].between(1900,2016).sum()

45780

In [49]:
((~autos["registration_year"].between(1900,2016)).sum() / autos.shape[0])*100

3.902264950985537

In [50]:
autos = autos[autos['registration_year'].between(1900, 2016)]
autos.shape[0]

45780

# Exploring brand column

In [60]:
autos["brand"]

0           peugeot
1               bmw
2        volkswagen
3             smart
4              ford
            ...
49995          audi
49996          opel
49997          fiat
49998          audi
49999          opel
Name: brand, Length: 45780, dtype: object

In [52]:
autos["brand"].value_counts(normalize=True)

volkswagen        0.211271
bmw               0.111249
opel              0.105920
mercedes_benz     0.097641
audi              0.087615
ford              0.068742
renault           0.046549
peugeot           0.029948
fiat              0.025098
seat              0.018174
skoda             0.016514
nissan            0.015291
mazda             0.015138
smart             0.014373
citroen           0.014133
toyota            0.012931
hyundai           0.010114
sonstige_autos    0.009524
volvo             0.009196
mini              0.008890
mitsubishi        0.008170
honda             0.007929
kia               0.007143
alfa_romeo        0.006684
porsche           0.006007
suzuki            0.005810
chevrolet         0.005723
chrysler          0.003561
dacia             0.002687
daihatsu          0.002490
jeep              0.002315
land_rover        0.002141
subaru            0.002097
saab              0.001660
jaguar            0.001529
daewoo            0.001485
rover             0.001332
trabant           0.001289
lancia            0.001048
lada              0.000590
Name: brand, dtype: float64

In [53]:
#We choose top 20 brands for further analysis.
top_brands = autos["brand"].value_counts(normalize=True).head(20).index
top_brands

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'nissan', 'mazda', 'smart',
       'citroen', 'toyota', 'hyundai', 'sonstige_autos', 'volvo', 'mini'],
      dtype='object')

In [54]:
top_brand_prices = dict()

for brand in top_brands:
    top_brand_prices[brand] = autos.loc[autos['brand']==brand, 'price'].mean()

top_brand_prices

{'volkswagen': 5506.4409636062865,
 'bmw': 8353.4618103279,
 'opel': 3077.5772324190557,
 'mercedes_benz': 8691.71744966443,
 'audi': 9406.093243580155,
 'ford': 3883.292024149984,
 'renault': 2552.5152510558423,
 'peugeot': 3142.0160466812545,
 'fiat': 2925.9547432550044,
 'seat': 4505.462740384615,
 'skoda': 6451.035714285715,
 'nissan': 4829.112857142857,
 'mazda': 4204.591630591631,
 'smart': 3596.40273556231,
 'citroen': 3818.9598145285936,
 'toyota': 5175.555743243243,
 'hyundai': 5422.438444924406,
 'sonstige_autos': 12167.672018348623,
 'volvo': 5016.275534441806,
 'mini': 10665.346437346438}

audi, mercedes_benz and bmw are the most expensive car brands. renault, fiat, and peugeot are the least expensive car brands.

We next find mean mileage for the top brands!

In [55]:
top_brand_mileages = dict()

for brand in top_brands:
    top_brand_mileages[brand] = autos.loc[autos['brand']==brand, 'odometer_km'].mean()

top_brand_mileages

{'volkswagen': 128774.81389578164,
 'bmw': 132814.64755546828,
 'opel': 129231.80037121056,
 'mercedes_benz': 131091.7225950783,
 'audi': 129260.78284717028,
 'ford': 124095.96441054973,
 'renault': 128052.55748474895,
 'peugeot': 126929.24872355945,
 'fiat': 116949.52132288947,
 'seat': 121604.56730769231,
 'skoda': 110998.67724867725,
 'nissan': 118178.57142857143,
 'mazda': 124076.47907647908,
 'smart': 99734.0425531915,
 'citroen': 119814.5285935085,
 'toyota': 116106.41891891892,
 'hyundai': 106792.656587473,
 'sonstige_autos': 90814.22018348624,
 'volvo': 138527.3159144893,
 'mini': 88513.51351351352}

We now convert both dictionaries to series objects, and combine the data from both series objects into a single dataframe.

In [56]:
top_brands_mean_prices = pd.Series(top_brand_prices).sort_values(ascending=False)
top_brands_mean_mileages = pd.Series(top_brand_mileages).sort_values(ascending=False)

In [57]:
top_brands_mean_prices

sonstige_autos    12167.672018
mini              10665.346437
audi               9406.093244
mercedes_benz      8691.717450
bmw                8353.461810
skoda              6451.035714
volkswagen         5506.440964
hyundai            5422.438445
toyota             5175.555743
volvo              5016.275534
nissan             4829.112857
seat               4505.462740
mazda              4204.591631
ford               3883.292024
citroen            3818.959815
smart              3596.402736
peugeot            3142.016047
opel               3077.577232
fiat               2925.954743
renault            2552.515251
dtype: float64

In [58]:
top_brands_mean_mileages

volvo             138527.315914
bmw               132814.647555
mercedes_benz     131091.722595
audi              129260.782847
opel              129231.800371
volkswagen        128774.813896
renault           128052.557485
peugeot           126929.248724
ford              124095.964411
mazda             124076.479076
seat              121604.567308
citroen           119814.528594
nissan            118178.571429
fiat              116949.521323
toyota            116106.418919
skoda             110998.677249
hyundai           106792.656587
smart              99734.042553
sonstige_autos     90814.220183
mini               88513.513514
dtype: float64

In [59]:
top_car_brands = pd.DataFrame(top_brands_mean_prices, columns=['top_brands_mean_prices'])
top_car_brands['top_brands_mean_mileages'] = top_brands_mean_mileages
top_car_brands

                top_brands_mean_prices  top_brands_mean_mileages
sonstige_autos            12167.672018              90814.220183
mini                      10665.346437              88513.513514
audi                       9406.093244             129260.782847
mercedes_benz              8691.717450             131091.722595
bmw                        8353.461810             132814.647555
skoda                      6451.035714             110998.677249
volkswagen                 5506.440964             128774.813896
hyundai                    5422.438445             106792.656587
toyota                     5175.555743             116106.418919
volvo                      5016.275534             138527.315914
nissan                     4829.112857             118178.571429
seat                       4505.462740             121604.567308
mazda                      4204.591631             124076.479076
ford                       3883.292024             124095.964411
citroen                    3818.959815             119814.528594
smart                      3596.402736              99734.042553
peugeot                    3142.016047             126929.248724
opel                       3077.577232             129231.800371
fiat                       2925.954743             116949.521323
renault                    2552.515251             128052.557485